VITE_SUPABASE_URL=https://zadkoxzbivzhrtxwbcp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphZGtxb3h6Yml2emhydHh3YmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5NzE3MDcsImV4cCI6MjEwNjU0NzcwN30.1CoLoueWaN0t5uJPTUy5DYuHTiWFRIV-gGVyP9GqY0w
VITE_YANDEX_MAPS_API_KEY=1b39af7b-c0bf-43d7-84ff-842ba9a85dcb
